@model Psbds.LUIS.Experiment.Console.HtmlTemplateModel
@using Newtonsoft.Json;
@{
    DisableEncoding = true;
}
@using RazorLight
@inherits TemplatePage<Psbds.LUIS.Experiment.Console.HtmlTemplateModel>
<div class="tab tab-errors container-fluid">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th width="30px">#</th>
                <th width="50px">Confusions</th>
                <th width="300px">Expected Intent</th>
                @for (var i = 0; i < Model.ErrorTab.MaxConfusions; i++)
                {
                    <th style='width:150px !important;'>intent_@(i + 1)</th>
                }
            </tr>
        </thead>
    </table>
</div>
<div class="modal modal-comparison" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Intent Comparison</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
        var phrases = {};
        function generateGuid() {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
                    .toString(16)
                    .substring(1);
            }
            return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
        }
        function format(d) {
            var intentColumns = Object.keys(d).filter(function (i) { return i.startsWith("intent") });

            var htmlColumns = "";
            var htmlHeaders = "";
            for (var k in intentColumns) {
                var key = intentColumns[k];
                var rows = "";
                var intentNameMatch = /(.*)\s\(/g.exec(d[key]);
                var intentName = intentNameMatch ? intentNameMatch[1] : "";
                for (var rk in d["examples_" + key]) {

                    var exampleData = d["examples_data_" + key][rk];
                    var guid = generateGuid();
                    phrases[guid] = exampleData;
                    phrases[guid].Labeled = d["examples_" + key][rk];
                    rows += "<div onClick='openComparison(\"" + d.expected_intent + "\",\"" + intentName + "\",\"" + guid + "\")'>" + d["examples_" + key][rk] + "</div><hr/>";
                }
                htmlColumns += "<td style='vertical-align: top'>" + rows + "</td>";
                htmlHeaders += "<td style='vertical-align: top''>" + d[key] + "</td>";
            }
            var table = '<div style="padding: 5px 0 5px 10px;background-color: black;font-size: small;"><table cellpadding="5" cellspacing="0" border="0" style="width:100%">' +
                '<tr>' +
                htmlHeaders +
                '</tr>' +
                '<tr>' +
                htmlColumns
            '</tr>' +
                '</table></div>';
            setTimeout(function () {
                $('[data-toggle="tooltip"]').tooltip();
            }, 3000);
            return table;
        }

        $(document).ready(function () {
            var table = $('#example').DataTable({
                "columns": [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": '<button class="btn btn-sm btn-danger">Open</button>'
                    },
                    { "data": "confusions" },
                    { "data": "expected_intent" },
                    @for (var i = 0; i < Model.ErrorTab.MaxConfusions; i++){
                    @: {"data": "intent_@(i+1)"},
                    }
                                                ],
            "order": [[1, 'asc']],
                "data": @JsonConvert.SerializeObject(Model.ErrorTab.Errors)
        });

        // Add event listener for opening and closing details
        $('#example tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });
                        });

        var intents = @JsonConvert.SerializeObject(Model.ErrorTab.Intents);

        function openComparison(expected, found, guid) {
            var data = phrases[guid];
            var expecExamples = intents[expected];
            var foundExamples = intents[found];
            var table = $("<table class='table table-hover'><thead><tr><th>'" + expected + "' Examples</th><th>'" + found + "' Examples</th></tr></thead><tbody></tbody></table>");

            for (var i = 0; i < expecExamples.length || i < foundExamples.length; i++) {
                table.find("tbody").append("<tr><td>" + (expecExamples.length > i ? expecExamples[i] : "") + "</td><td>" + (foundExamples.length > i ? foundExamples[i] : "") + "</td></tr>")
            }
            $(".modal-comparison .modal-body").html("");
            $(".modal-comparison .modal-body").append("<h5>" + data.Labeled + "</h5>");

            for (var k in data.Intents) {
                var intent = data.Intents[k];
                $(".modal-comparison .modal-body").append("<small>" + intent.Intent + " - " + intent.Score + "<br/></small>");
            }

            $(".modal-comparison .modal-body").append("<br/>");
            $(".modal-comparison .modal-body").append(table);
            $(".modal-comparison").modal("show");
            for (var k in data.TokenizedText) {
                var word = data.TokenizedText[k];
                $(".modal-comparison tbody").mark(word, { "accuracy": "exactly" });
            }
            $(".modal-comparison").modal("show");
            setTimeout(function () {
                $('[data-toggle="tooltip"]').tooltip();
            }, 3000);
        }
</script>
